<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.RegisterController</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.LoginController</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>OrderTrackerController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.OrderTrackerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.DetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.AddProductToCartServlet</servlet-class>
    </servlet>
    <!--    <servlet>
        <servlet-name>WishlistServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.WishlistServlet</servlet-class>
    </servlet>-->
    <servlet>
        <servlet-name>DeleteProductToCart</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.DeleteProductToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.UserAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RateController</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.RateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.mycompany.mavenproject1.controller.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/create-account</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>OrderTrackerController</servlet-name>
        <url-pattern>/order-tracker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/admin/add-new-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/admin/delete-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductController</servlet-name>
        <url-pattern>/detail-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/add-to-cart</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>WishlistServlet</servlet-name>
        <url-pattern>/add-to-wishlist</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>DeleteProductToCart</servlet-name>
        <url-pattern>/delete-to-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/create-order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountController</servlet-name>
        <url-pattern>/user-account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RateController</servlet-name>
        <url-pattern>/rating-product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
