/* 
    Created on : Feb 10, 2023, 2:24:05 PM
    Author     : NAM
*/
#footer{
}

/* footer-news */
.footer-news{
    background-color: #ede734;
    display: flex;
    justify-content: center;
    align-items: center ;
    padding: 40px 0;
}
.footer-news span{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bolder;
    margin-right: 20px;
}
.footer-news a{
    background-color: #000;
    color: #fff !important;
    padding:10px 15px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 2px;
    box-shadow:4px 4px 0px 0px #9b9b9b;
    transition: 0.3s all linear;
    text-transform: uppercase;

}
.footer-news a:hover{
    color: #7d7d7d !important;
    box-shadow:4px 4px 0px 0px #fff;
}
.footer-news a i{
    margin-left: 8px;
}

/* footer-content */
li{
    list-style: none;
}
a{
    color: unset !important;
    text-decoration: unset !important;
}
.footer-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 40px 0;
}
.footer-content .col{
    flex: 1;
}
.footer-content .col h3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-content .col .col-content{
    padding: 0;
}
.footer-content .col-content a{
    font-size: 14px;
}
.footer-content .col-content a:hover{
    text-decoration: underline !important;
}
.footer-content .col-content li{
    display: flex;
    align-items: center;
}
.col-content .fa-brands{
    color: #fff;
    font-size: 13px;

}
.col-content .fl-us{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 10px;
}

/* footer bottom */
.footer-bottom{
    background-color: #282c31;
    color: #fff;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}
.footer-bottom a{
    color: #fff !important;
    padding:0 10px;
    border-right: 1px solid #fff;
}
.footer-bottom a:last-child{
    border-right: unset !important;
}