/* 
    Created on : Feb 11, 2023, 3:38:58 PM
    Author     : NAM
*/

.order-detail-section{

}
.order-detail-section .logo-section{
    padding: 30px;background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-detail-section .logo-section img{
    width: 150px;
    object-position: center;
}
.order-detail-content{
    margin: 50px;
}
.state h2{
    font-size: 40px;
    font-weight: bolder;
    padding: 50px;
    background-color: #ccc;
    border-right: 5px solid;
    border-bottom: 5px solid;
    margin-bottom: 50px;
}
.state .success{
    background-color: #99ff99;
    border-color: #2f8e2f;
}
.state .cancel{
    background-color: #ff5b5b;
    border-color: #872e2e;
}
.state .delivery{
    background-color: #ffff9c;
    border-color: #b4b425;
}
.state .transport{
    background-color: #80dbff;
    border-color: #3daab2;
}

.order-detail-content .title{
    font-size: 20px;
    font-weight: bold;
}
.order-detail-content .detail{
    padding: 80px 100px;
    border-left: 1px solid #333;
}