/* 
    Created on : Mar 29, 2023, 3:52:54 PM
    Author     : NAM
*/
h1{
    font-size: 70px !important;
    text-transform: uppercase;
    font-style: italic;
}
.list-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.list-wrapper .product-card{
    margin: 0;
}
.source {
    display: flex;
}
.source a{
    font-size: 16px;
    text-decoration: underline !important;
    padding: 3px 10px;
    color: #000 !important;
    transition: 0.25s all linear;
    position: relative;
    text-transform: capitalize;
    
}
.source p {
    font-size: 16px;
    padding: 3px 10px;
    margin: 0;
    text-transform: capitalize;
}

.source a::after{
    content: "/";
    position: absolute;
    right: -3px;
}
.source a:hover{
    background-color: #000 !important;
    color: #fff !important;
}
.source a:hover::after{
    display: none;
}