.form-checkout form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.form-checkout form input,
.form-checkout form textarea,
.form-checkout form select{
    margin: 20px;
    width: 60%;
}
.form-checkout form button{
    color: #fff;
    background-color: rgb(222, 167, 29);
    width: 70%;
    padding: 10px;
}
.form-checkout form .detail{
    font-weight: bolder;
    font-size: 20px;
}/* 
    Created on : Mar 19, 2023, 5:43:14 PM
    Author     : NAM
*/

