/* 
    Created on : Mar 12, 2023, 1:59:35 PM
    Author     : NAM
*/

a{
    color: unset;
    text-decoration: unset;
}
.product-wrapper{
    position: relative;
}
.product-card{
    position: relative;
    width: 275px;
    border: 1px solid transparent;
    transition: 0.2s all linear;
    margin: 0 10px;
}
.product-card button[type="submit"] {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
    display:block;
    width: 100%;
    text-align: unset;
}
.product-card:hover{
    border: 1px solid #333;
}
.product-card:hover .product-price{
    top: 240px;
}
.product-card:hover .card-img img{
    transform: scale(1.2);
}
.card-img{
    overflow: hidden !important;
    width: 275px;
    height: 275px;
    background-color: #ddd !important;
}
.card-img img{
    width: 275px;
    height: 275px;
    object-fit: cover;
    object-position: center;
    transition: 0.2s all linear;

}
.card-wishlist{
    position: absolute;
    top: 0;
    right: 15px;
}
.card-wishlist button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin: 10px;
}
.card-wishlist .fa-solid{
    display: none;
}
.card-wishlist.active .fa-solid {
    display: inline-block;
}
.card-wishlist.active .fa-regular{
    display: none;
}
.product-price{
    position: absolute;
    top: 255px;
    left: 10px;
    background-color: #fff;
    font-size: 15px;
    color: #000;
    padding: 2px 7px 2px 10px;
    transition: 0.2s all linear;

}
.product-price::after{
    content: "đ";
    font-size: 16px;
    position: relative;
    left: -3px;
}
.card-detail{
    padding: 10px 10px 20px;
}
.card-detail p{
    margin:0;
    margin-bottom: 3px;
    color: #000;
}
.card-detail .card-name{
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.card-label{
    font-size: 14px;
}
.card-detail .card-category{
    color: #767677 !important;
    font-size: 14px;
}

/* slide */
.slide-wrapper{
    display: flex;
    justify-content: center;
}

.carousel{
    min-height: 470px;
    padding-top: 70px;
}
.carousel-inner{
    min-height: 410px;
}
#product-slide{
    padding: 50px 0;

}
/* Button next and prev slide */
.carousel-control-next-icon{
    width: 23px !important;
    height: 23px !important;

    background-image: url('https://cdn-icons-png.flaticon.com/512/271/271228.png') !important;
}
.carousel-control-prev-icon{
    width: 23px !important;
    height: 23px !important;

    background-image: url('https://cdn-icons-png.flaticon.com/512/271/271220.png') !important;
}
.slide-control{
    display: inline-block !important;
    height: fit-content  !important;
    width: fit-content !important;
    position: relative !important;
    padding: 0 10px !important;

}
.slide-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5%;
}
.slide-title h1{
    font-weight: bolder;
    font-size: 37px;
}


.none-product{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.none-product p{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: #333;
}
